<div class="main-content">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">New User</li>
        </ol>
    </nav>

    <form [formGroup]="profileForm" (ngSubmit)="submitUser()" class="form-group">

        <label for="email">Email: </label>
        <input id="email" type="email" formControlName="email" class="form-control">
        <label for="phone">Phone: </label>
        <input id="phone" type="text" formControlName="phone" class="form-control">
        <label for="birtday">Birthday: </label>
        <input id="birthday" type="date" formControlName="birthday" class="form-control">
        <mat-form-field>
            <mat-label>Gender</mat-label>
            <mat-select [(value)]="selectedGender" formControlName="gender">
                <mat-option *ngFor="let gender of genderTypes" [value]="gender">
                    {{gender}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <label for="password">Password: </label>
        <input id="password" type="password" formControlName="password" class="form-control">
        <br />
        <button class="button" type="submit" [disabled]="!profileForm.valid" class="btn btn-outline-dark">
            Add User
        </button>

    </form>
</div>