<div class="main-content">
    <h2>New user</h2>

    <form [formGroup]="profileForm" (ngSubmit)="submitUser()" class="form-group">

        <label for="email">Email: </label>
        <input id="email" type="email" formControlName="email" class="form-control">
        <label for="phone">Phone: </label>
        <input id="phone" type="text" formControlName="phone" class="form-control">
        <label for="birtday">Birthday: </label>
        <input id="birthday" type="date" formControlName="birthday" class="form-control">
        <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select>
                <mat-option *ngFor="let gender of genders" [value]="gender">
                    {{gender}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <label for="password">Password: </label>
        <input id="password" type="password" formControlName="password" class="form-control">
        <br />
        <button class="button" type="submit" [disabled]="!profileForm.valid" class="btn btn-outline-dark">Add User</button>

    </form>
    <span>{{message}}</span>
    <br />
</div>