.group-list {
    border: 1px solid #dddddd;
    border-radius: 10px;
}

.group-list-option {
    border-radius: 10px;
}

.button-row {
    display: table-cell;
    width: 490px;
}

.button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 130px;
}