mat-card{
    width: 500px;
}

.mat-card-avatar {
    height: 150px;
    width: 150px;
}

.profile-info {
    border-style: outset;
    border-radius: 10px 100px / 120px;
    border-color: #92a8d1
}

.center {
    text-align: center;
    padding-left: 20px;
}