<div class="main-content">

    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Profile
                </mat-panel-title>
                <mat-panel-description>
                    {{getNameOfUser()}}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    Email
                </mat-panel-title>
                <mat-panel-description>
                    {{getEmail()}}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    Phone
                </mat-panel-title>
                <mat-panel-description>
                    {{getPhone()}}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    Birthday
                </mat-panel-title>
                <mat-panel-description>
                    {{getBirthday()}}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-expansion-panel-header>
                <mat-panel-title>
                    Roles
                </mat-panel-title>
                <mat-panel-description>
                    {{getRoleNames()}}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-expansion-panel-header *ngIf="!isGuestOnly()">
                <mat-panel-title>
                    Groups
                </mat-panel-title>
                <mat-panel-description>
                    {{getGroups()}}
                </mat-panel-description>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>
</div>