<div class="main-content">
    <div>
        <h1>Welcome to the Visitors Tracker!</h1>
    </div>

    <div>
        <span>If you are here - this place is created specially for you.</span>
        <span>
            The only thing which you need to do - login, if you already have the account or complete registration flow and 
            then create the new one.
            So, just click on Login or Registration button at the left sidebar and enjoy using our app!
        </span>
    </div>
    <br /><br /><br />

    <img class="mx-auto d-block" src="https://www.tempo.io/hubfs/Pages/Global/Cost%20Tracker-1.svg" />
</div>